/* PRESET */

img {
    width: 100%;
    height: 100%;
}

.background_black {
    background: black;
}

@keyframes zoom-in-out {
    0% {
        transform: scale(1);
    }
    5% {
        transform: scale(1.08);
    }
    10% {
        transform: scale(1);
    }
    15% {
        transform: scale(1.08);
    }
    20% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.08);
    }
    30% {
        transform: scale(1);
    }
    35% {
        transform: scale(1.08);
    }
    40% {
        transform: scale(1);
    }
    45% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    55% {
        transform: scale(1.08);
    }
    60% {
        transform: scale(1);
    }
    65% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.08);
    }
    75% {
        transform: scale(1);
    }
    80% {
        transform: scale(1.08);
    }
    85% {
        transform: scale(1);
    }
    90% {
        transform: scale(1.08);
    }
    95% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.08);
    }
}

@keyframes jump {
    0% {
        transform: translateY(5spx)
    }
    50% {
        transform: translateY(-5px)
    }
    100% {
        transform: translateY(5px);
    }
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

/* ************************************************** */

/* MY STYLE - NAVBAR */

header {
    display: contents;
}

.sony_logo {
    width: 80px;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #016FD1 !important;
}

#ms_nav {
    background: white !important;
}

#ms_nav a {
    transition: 200ms linear;
    font-weight: 500;
    text-decoration: none !important;
    color: black !important;
}

.dropdown-menu img {
    max-width: 100px;
}

#ms_nav a:hover {
    color: #016FD1 !important;
}

.fa-chevron-down {
    transition: 200ms linear;
    font-size: 10px;
    color: #999999;
}

.nav-link:hover .fa-chevron-down {
    color: #016FD1;
}

#login_btn {
    transition: 200ms linear;
    color: white;
    background: #363636;
}

#login_btn:hover {
    background: black;
}

#login_btn:focus {
    box-shadow: 0 0 0 0.25rem #016FD1;
}

.fa-search {
    transition: 200ms linear;
    font-size: 20px;
}

.fa-search:hover {
    color: #016FD1;
}

/* ************************************************** */

/* MY STYLE - MAIN */

#returnal_banner {
    background-image: url(img/jumbo-bg.png);
    background-size: cover;
    background-position: center;
    color: white;
}

#jumbo_col {
    min-height: 580px;
    z-index: 1;
}

.jumbo_pic {
    max-width: 250px;
}

.buy_now {
    width: 120px;
    border: none;
    transition: 200ms linear;
    color: white;
    background: #CD3C10;
}

.buy_now:hover {
    transform: scale(1.05);
    background: #ff4d17;
}

.game_pic {
    padding: 5px;
    border: 3px solid transparent;
    border-radius: 20px;
    transition: 200ms linear;
}

.game_pic.active, .game_pic:hover {
    border: 3px solid #016FD1;
}

.game_pic.trans:hover {
    transform: translateY(-10px);
}

#no_limits {
    color: #016FD1;
}

.info_btn {
    width: 180px;
    border: none;
    transition: 200ms linear;
    color: white;
    background: #016FD1;
}

.info_btn:hover {
    transform: scale(1.05);
    background: black;
}

.accessory_col {
    cursor: pointer;
    border-bottom: 3px solid transparent;
}

.accessory_pic {
    width: 120px;
    height: 120px;
    transition: 200ms linear;
}

.inactive {
    transition: 200ms linear;
    opacity: 0.6;
}

.accessory_col.active, .accessory_col:hover {
    border-bottom: 3px solid #016FD1;
}

.accessory_col:hover .inactive {
    opacity: 1;
}

.accessory_col:hover .accessory_pic.inactive {
    animation: zoom-in-out 12s infinite;
}

#takes_two_banner {
    background-image: url(img/it-takes-two-hero-banner-desktop.jpg);
    background-size: cover;
    background-position: center;
    color: white;
    filter: contrast(1.2);
    position: relative;
}

.jumbo_pic.smaller {
    max-width: 220px;
}

.new_games {
    color: white;
    background: #1F1F1F;
}

#nested_col {
    cursor: pointer;
}

.new_games_img {
    border-radius: 15px;
}

#nested_col:hover .new_games_img {
    animation: 1.2s jump infinite;
}

.fa-registered {
    font-size: 12px;
    vertical-align: super;
}

.info_btn_small {
    width: 120px;
}