/* PRESET */

.background_black {
    background: black;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem #016FD1 !important;
}

/* ************************************************** */

/* MY STYLE */

.sony_logo {
    width: 80px;
}

#ms_nav a {
    transition: 200ms linear;
    font-weight: 500;
    text-decoration: none !important;
    color: black !important;
}

#ms_nav a:hover {
    color: #016FD1 !important;
}

.fa-chevron-down {
    transition: 200ms linear;
    font-size: 12px;
    color: #999999;
}

.nav-link:hover .fa-chevron-down {
    color: #016FD1;
}

#login_btn {
    transition: 200ms linear;
    color: white;
    background: #363636;
}

#login_btn:hover {
    background: #016FD1;
}

#login_btn:focus {
    box-shadow: 0 0 0 0.25rem #016FD1;
}

.fa-search {
    transition: 200ms linear;
    font-size: 20px;
}

.fa-search:hover {
    color: #016FD1;
}

/* ************************************************** */